.img-cointainer{
    background-image: url("https://st4.depositphotos.com/29955990/40363/v/600/depositphotos_403638968-stock-illustration-set-of-various-college-or.jpg");
}
/* .para{
	 font-family:"Papyrus"; 
    font-family:"cursive";
} */